# FastAPI and server
fastapi
uvicorn[standard]
pydantic

# Database
psycopg2-binary

# Security
bcrypt<4.0.0
passlib==1.7.4
PyJWT

# HTTP requests
requests

# Environment variables
python-dotenv

# Machine Learning
scikit-learn
pandas
numpy
imbalanced-learn

# Google Cloud
google-cloud-firestore

# Additional
python-multipart
email-validator
pytz
httpx
   
# Email
sendgrid
sib_api_v3_sdk

pyarrow