# FastAPI and server
fastapi
uvicorn[standard]
pydantic

# Database
psycopg2-binary
sqlalchemy
alembic

# Security
bcrypt<4.0.0
passlib==1.7.4
PyJWT

# HTTP requests
requests

# Environment variables
python-dotenv

# Machine Learning
scikit-learn
pandas
numpy
imbalanced-learn

# Google Cloud
google-cloud-firestore
firebase-admin

# Additional
python-multipart
email-validator
pytz
httpx

# Rate Limiting
slowapi

# Error Monitoring
sentry-sdk[fastapi]
   
# Email
sendgrid
sib_api_v3_sdk

pyarrow